.s-1{
    background-image: url("https://i.pinimg.com/564x/12/2d/ba/122dba11efe7f66e456fe15eb97165a3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 625px;
	padding: 168px 20px;
	margin-top: 20px;
	h2{
		max-width: 1150px;
		width: 100%;
		// padding-top: 128px;
		padding-left: 110px;
		color: #e7d107;
		font-family: Roboto;
		font-size: 44px;
		font-style: normal;
		font-weight: 700;
		line-height: 120%; /* 76.8px */
		margin-bottom: 40px;
		text-shadow: 5px 5px rgb(5, 144, 183);
	}
	@media (max-width: 950px){
		height: fit-content;
		h2{
			font-size: 35px;
			margin-top: 20px;
			text-align: center;
			padding: 0 0;
		}
	}
}
